body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: ghostwhite;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 100vh;
    min-width: 400px;
    background-image: url("images/jeferson-argueta-l-z44pz4mlM-unsplash.jpg");
    background-position: 20%;
    background-size: 160%;
    background-repeat: no-repeat;
    gap: 100px;
}

img {
    padding-top: 100px;
    max-width: 100px;
    padding: 60px;
    border-radius: 800px;
    background-color: rgba(240, 248, 255, 0.136);
    display: none;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 60px 100px;
    background-color: rgb(18, 19, 19);
    border-left: ghostwhite solid 1px;
}

form {
    padding-left: 38px;
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding: 30px 0;
    width: 100%;
    color: ghostwhite;
    text-shadow: 1px maroon;
    border-top: ghostwhite solid 1px;
    border-bottom: ghostwhite solid 1px;
    font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
}

h3 {
    font-size: 1rem;
    text-align: center;
    margin: 0 90px;
    padding-bottom: 20px;
}

fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 0;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
    border-color: rgb(0, 208, 255);
    outline: none;
}


label {
    display: block;
    padding-right: 15px;
}

input {
    border-radius: 3px;
    border: rgb(38, 38, 38) solid 2px;
    height: 1.6rem;
    width: 16rem;
}

input:first-of-type {
    margin-right: 30px;
}

.invalid-js,  .css-validity:invalid {
    border-color: rgb(255, 117, 117);
    background-color: rgb(255, 202, 202);
}

.valid-js, .css-validity:valid {
    border-color: limegreen;
    background-color: rgb(154, 204, 154);
}

h2 {
    text-align: center;
}

hr {
    margin-top: 50px;
    color: black;
    width: 60%;
}

#survey {
    width: 100%;
}